<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand ms-2 me-3" href="/">
      <img class="navbar-logo" src="/ressources/moonshotLogo_white.svg" alt="" width="34" height="34">
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <!-- <div class="navbar-nav"> -->
              <% if (!currentUser) { %>
              <a class="nav-link" href="/user/login">Login / Register</a>
              <% } else { %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarAccountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Account
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarAccountDropdown">
                    <li><a class="dropdown-item" href="/user/<%= currentUser.id %> "><i class="bi bi-person me-2"></i>My account</a></li>
                    <li><a class="dropdown-item" href="/user/logout"><i class="bi bi-box-arrow-right me-2"></i>Logout</a></li>
                  </ul>
                </li>
              <% } %>
            <!-- </div> -->
            <% if (currentUser) { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tenders
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/preadvise/start"><i class="bi bi-megaphone me-2"></i>Pre-advise</a></li>
                <li><a class="dropdown-item" href="/register/start"><i class="bi bi-send-check me-2"></i>Registration</a></li>
                <% if (currentUser.isAdmin || currentUser.isTenderTeam) { %> 
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/dashboard/start"><i class="bi bi-clipboard-data me-2"></i>Dashboard</a></li>
                <% } %> 
                <% } %>
              </ul>
            </li>
          </div>
      </div>
  </div>
</nav>