<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moonshot | Home</title>
    <%- include("partials/commonStyles.ejs") %>
    <%- include("partials/commonFonts.ejs") %>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <h1>Moonshot</h1>
    <p><a href="">Go to login</a></p>
    <h2>Preadvised tender</h2>
    <p><a href="/moonshot/preadvised/new">Pre-advise a tender</a></p>
    <p><a href="/moonshot/preadvised">Pre-advised tender dashboard</a></p>
    <h2>Tender registration</h2>
    <p><a href="">Register a tender</a></p>
    <h2>Offices data</h2>
    <p><a href="/moonshot/office/new">Register new offices & contacts</a></p>
    <%- include("partials/commonBootstrap.ejs") %>
</body>
</html>