<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moonshot | Home</title>
    <%- include("partials/commonStyles.ejs") %>
    <%- include("partials/commonFonts.ejs") %>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
<div class="container">
    <h1>Tender preadvise</h1>
    <p><a href="/start">Go back to the start page</a></p>

    <div class="container mt-3">
        <h2>Preadvise</h2>
        <div class="container rounded-3 border border-2 p-3">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Form</h5>
                        <p class="card-text">Fill a form and provide key information related to the upcoming tender.</p>
                        <a href="/preadvise/new" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Dashboard</h5>
                        <p class="card-text">Quick look on the upcoming tenders.</p>
                        <a href="/preadvise/index" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">History</h5>
                        <p class="card-text">Check the information provided, modify or delete a preadvise.</p>
                        <a href="#" class="btn btn-primary disabled">Soon</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <%- include("partials/commonBootstrap.ejs") %>
</body>
</html>