html {
  height: 100%;
}
body {
  height: 100%;
  background: rgb(0, 0, 4);
  background: radial-gradient(
    ellipse at 80% 50%,
    rgba(0, 4, 1, 1) 0%,
    rgba(28, 63, 96, 1) 100%
  );
}

/* .navbar {
  background-color: #0b1320;
} */

h1.text {
  font-size: 5.5em;
  color: #e5e8e8;
}

p.text {
  font-size: 1.35em;
  color: #e5e8e8;
}

p.errStack {
  font-size: 0.75em;
}

footer {
  font-size: 0.8em;
}
