html {
  height: 100%;
}

body {
  height: 100%;
  background: rgb(0, 0, 4);
  background: radial-gradient(ellipse at 80% 50%,
      rgba(0, 4, 1, 1) 0%,
      rgba(28, 63, 96, 1) 100%);
}

/* .navbar {
  background-color: #0b1320;
} */

h1.text {
  font-size: 5.5em;
  color: #e5e8e8;
}

p.text {
  font-size: 1.35em;
  color: #e5e8e8;
}

.logo {
  width: 280px;
  height: 280px;
}

/* Write a media query to decrease the size of the image on Mobile */
@media screen and (max-width: 700px) {
  h1.text {
    font-size: 3.5em;
  }

  p.text {
    font-size: 1.2em;
  }

  .logo {
    width: 180px;
    height: 180px;
  }

}

@media screen and (max-width: 600px) {
  h1.text {
    font-size: 3.5em;
  }

  p.text {
    font-size: 1.2em;
  }

  .logo {
    width: 140px;
    height: 140px;
  }

}