<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Moonshot Project</title>
    <%- include("../partials/commonStyles.ejs") %>
    <%- include("../partials/commonFonts.ejs") %>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
    <%- include("../partials/flash.ejs") %>
    <div class="container-fluid position-absolute top-50 start-0 translate-middle-y">
        <div class="row">
            <div class="col-12 col-lg-8 order-1 order-lg-0">
                <div class="row ms-md-4 ms-lg-5 mt-3 mt-lg-0">
                    <div class="col-12">
                        <h1 class="mb-3 text">The Moonshot project</h1>
                        <p class="text mb-0 mb-lg-3">Explore new ways to manage tenders.</p>
                    </div>
                    <div class="col-12">
                        <div class="position-relative top-50 start-0 translate-x-middle">
                            <a href="/start" class="btn btn-primary px-5 py-lg-3">
                                Get started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 order-0 order-lg-1">
                <img class="logo" src="/ressources/moonshotLogo_white.svg" alt="The Moonshot project logo">
            </div>
        </div>
    </div>
    <div class="d-none d-lg-block toast-container fixed-bottom sticky-bottom mb-1 mb-sm-3 mb-lg-5 me-1 me-sm-3 me-lg-5 ms-auto">
        <div role="alert" aria-live="assertive" aria-atomic="true" class="toast fade show rounded-3 border border-5 border-primary border-top-0 border-end-0 border-bottom-0" data-autohide="false" data-bs-autohide="false">
            <div class="toast-header bg-primary bg-opacity-10">
              <strong class="me-auto my-auto text-primary h5"><i class="bi bi-shield-lock-fill me-2"></i>Cookies</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                The Moonshot project only uses essential functional cookies.
            </div>
          </div>
        <div role="alert" aria-live="assertive" aria-atomic="true" class="toast fade show rounded-3 border border-5 border-danger border-top-0 border-end-0 border-bottom-0" data-autohide="false" data-bs-autohide="false">
            <div class="toast-header bg-danger bg-opacity-10">
              <strong class="me-auto my-auto text-danger h5"><i class="bi bi-cone-striped me-2"></i>Disclaimer</strong>
              <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> -->
            </div>
            <div class="toast-body monospace">
                Development release 0.0.2<br>
                For test purposes only
            </div>
          </div>
    </div>
</body>
<%- include("../partials/commonBootstrap.ejs") %>
</html>
